body
{
    font-family: 'Roboto';
    font-weight: 700;
}

.grid-container {
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    border-style: solid;
    border-color: #0099ff;
}
.blockHeader
{
    display: flex;
    align-items: center;
}
.jsonButtons > *{
    cursor: pointer;
    margin: 0px 10px 0px;
}

.jsonContainer
{
    
    height: 85vh;
    width: 50vw;
    margin:auto;
    border-style: solid;
    border-color: #0099ff;
    overflow-y: scroll;
}
.jsonLevel
{
    margin: 5px;
    border-style: solid;
    border-color: #000000;
}
.singleField 
{    
    display:flex;
    align-items: center;
    overflow-x: hidden;
    

}
.singleField >*
{
    margin: 0px 5px 0px;
    
}
.hiddenMenu
{
    width:50%;
    display:block;
    position: absolute;
    background:#0099ff;
    left: 25vw;
    top: 25vh;
    height: 50%;

}
.menu{        
    width:100%;
    display:none;
}
.popup{
    width:900px;
    border-radius: 7px;
    background:#6b6a63;
    margin:30px auto 0;
    padding:6px;
    position:absolute;
    left: 50%;
  top: 50%;
  margin-left: -400px;
    margin-top: -40px; /* This should be half of the total height of your div */
}

.content{
    background:#fff;
    padding: 28px 26px 33px 25px;
}
.fieldClass
{
    resize: none;
    overflow: hidden;
    resize: vertical;
}
.hiddenBox
{
    display: block; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.submitButton
{
    margin-top: 10px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}
.login-icon{
    padding-left: 50%;
}